<section class="full-bg-grey">
  <div class="container">
      <h2 class="head-line-line mb-3 mt-3">{{storeName}} Coupon Codes</h2>
      <div class="list-sec">
          <div class="row bg-white-blog d-flex align-items-center" *ngFor="let couponList of couponListing; let i = index">
              <div class="col-md-2">
                  <a href="javascript:void(0);">
                      <!-- <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/flipkart-sidescroll.jpg" alt=""> -->
                      <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/no-image.png" alt="">
                  </a>
              </div>
              <div class="col-md-8" >
                  <!-- <span>abc sde</span> -->
                  <h3>{{couponList.coupon_description}}</h3>
                  <small class="cash-back">{{couponList.coupon_code}}</small>
                  <!-- <p class="text-muted">Prices as marked on select deals in select markets.
                  </p> -->

                  <small><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Ends {{transformDate(couponList.coupon_expires)}}</small>


              </div>
              <div class="col-md-2">
                  <a class="btn derk-color text-white blog-btn">Shop Now</a>
              </div>
          </div>
          <div class="no-record-found">
              No Records Found 
          </div>
      </div>
  </div>
</section>