<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" *ngFor="let banner of homeBannerContentList; let i = index" [ngClass]="{'active': i == 0}"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let banner of homeBannerContentList; let i = index" [ngClass]="{'active': i == 0}" [style.background-image]="getBackground(banner.slider_img)">
                <div class="carousel-caption-bnr d-none d-md-block">
                    <h3>{{banner.title}}</h3>
                    <p>{{banner.description}}</p>
                    <a [href]="banner.btn_link" target="_blank">Read More</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="card-listing pt-3 pb-3">
    <div class="container">
        <div class="d-flex justify-content-center">
            <!---->
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/information.png">
                        <h2 class="ng-tns-c8-0">Business Cards</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/information.png">
                        <h2 class="ng-tns-c8-0">Rupay Cards</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/information.png">
                        <h2 class="ng-tns-c8-0">Top Cards</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/information.png">
                        <h2 class="ng-tns-c8-0">Master Card</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/information.png">
                        <h2 class="ng-tns-c8-0">Visa</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="full-bg-grey">
    <div class="container">
        <h2 class="head-line-line mb-3 mt-3">Recent Posts</h2>
        <div class="list-sec">
            <div class="row bg-white-blog d-flex align-items-center" *ngFor="let blog of mostRecentBlogList; let i = index">
                <div class="col-md-2">
                    <a href="javascript:void(0);">
                        <img class="img-fluid rounded mb-3 mb-md-0" [src]="imageBaseUrl + blog.blog_small_image" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <span>{{blog.category_name}}</span>
                    <h3>{{blog.blog_title}}</h3>
                    <small>{{transformDate(blog.date_created)}}</small>
                    <p>{{blog.blog_excerpt | slice:0:200}}</p>
                    <ul *ngIf="blog.tags.length > 0" class="tags">
                        <li *ngFor="let tag of blog.tags" class="tag"><a href="javascript:void(0);">{{tag.name}}</a></li>
                    </ul>
                    <small>{{getBlogCount(blog)}}</small>
                    <span class="like-btn" (click)="addLike(blog.id,blog.is_like,userId)"><i [ngClass]="{'active': blog.is_like == 1}"  class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <small>{{blog.likes}} Likes</small>
                </div>
                <div class="col-md-2">
                    <a class="btn derk-color text-white blog-btn" (click)="goToDetails(blog)">View</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-newsletter></app-newsletter>