<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" *ngFor="let banner of homeBannerContentList; let i = index"
                [ngClass]="{'active': i == 0}"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let banner of homeBannerContentList; let i = index" [ngClass]="{'active': i == 0}"
                [style.background-image]="getBackground(banner.slider_img)">
                <div class="carousel-caption-bnr d-none  d-flex justify-content-center">

                    <div class="bnr-text text-center bnr-text-box" *ngFor="let banner of homeBannerContentList; let i = index">
                        <h3>{{banner.title}}</h3>
                        <p>{{banner.description}}</p>
                        <a [href]="banner.btn_link" target="_blank">Read More</a>
                    </div>
                    <!-- <div class="bnr-text text-center">
                        <h3>{{banner.title}}</h3>
                        <p>{{banner.description}}</p>
                        <a [href]="banner.btn_link" target="_blank">Read More</a>
                    </div>
                    <div class="bnr-text text-center">
                        <h3>{{banner.title}}</h3>
                        <p>{{banner.description}}</p>
                        <a [href]="banner.btn_link" target="_blank">Read More</a>
                    </div> -->



                </div>
            </div>
        </div>
    </div>
</header>
<!-- <div class="card-listing pt-3 pb-3">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/business-card.png">
                        <h2 class="ng-tns-c8-0">Business Cards</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/rupay-card.png">
                        <h2 class="ng-tns-c8-0">Rupay Cards</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/top-card.png">
                        <h2 class="ng-tns-c8-0">Top Cards</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/master-card.png">
                        <h2 class="ng-tns-c8-0">Master Card</h2>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between ng-tns-c8-0 ng-star-inserted">
                <div class="card-item">
                    <a class="ng-tns-c8-0" href="#/cards/business-cards">
                        <img class="img-fluid" alt="" src="assets/images/visa-card.png">
                        <h2 class="ng-tns-c8-0">Visa</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--  with out caraousel -->
<!-- <div class="card-listing pt-3 pb-3">
        <div class="container">
            <div class="d-flex justify-content-center" >
                <div class="ng-tns-c8-0 ng-star-inserted" *ngFor="let category of subCategoryList">
                    <div class="card-item" (click)="goToCategoryPage(category.category_slug)">
                        <a class="ng-tns-c8-0" >
                            <img class="img-fluid" [src]="category.category_image != '' && imageBaseUrl+ category.category_image || 'assets/images/information.png'"
                            alt="">
                            <h2 class="ng-tns-c8-0">{{category.category_name}}</h2>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div> -->
<!-- With caraousal-->
<!-- <div class="card-listing pt-3 pb-3" id="categories">
        <div class="container">
            <owl-carousel #owlElement [options]="{ dots: false, nav: true, loop:true,responsive: {'0': {  items: 1, margin: 5 },
                    '480': { items: 1,  margin: 5 },
        '640': { items: 10, margin: 5 }
               }  }"
                [items]="subCategoryList" [carouselClasses]="['owl-theme', 'row', 'sliding', 'categories-wrapper', 'owl-carousel','owl-prev','owl-next','banner-categories']">
    
                <div class="item" *ngFor="let category of subCategoryList ; let i = index">
                    <a href="JavaScript:Void(0);" (click)="goToCategoryPage(category.category_slug)">
                        <div class="category-icon-item">
                            <div class="icon-box card-item">
                                <div class="icon ">
                                    
                                    <img class="img-fluid" [src]="category.category_image != '' && imageBaseUrl+ category.category_image || 'assets/images/information.png'"
                                        alt="">
    
                                </div>
                                <h2>{{category.category_name}}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </owl-carousel>
        </div>
    </div> -->
<div class="card-listing pt-3 pb-3">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="ng-tns-c8-0 ng-star-inserted" *ngFor="let category of topCatList">
                <div class="card-item" (click)="goToTopCategoryPage(category.parent_category_url,category.category_slug)">
                    <a class="ng-tns-c8-0">
                        <!-- <img class="img-fluid" [src]="category.category_image != '' && imageBaseUrl+ category.category_image || 'assets/images/information.png'" alt=""> -->
                        <h2 class="ng-tns-c8-0">{{category.category_name}}</h2>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Page Content -->
<section class="full-bg-grey">
    <div class="container">
        <h2 class="head-line-line mb-3 mt-3">Recent Post</h2>
        <div class="list-sec">
            <div class="row bg-white-blog d-flex align-items-center" *ngFor="let blog of mostRecentBlogList; let i = index">
                <div class="col-md-2">
                    <!-- <p *ngIf="blog.category_slug =='deals'">Sale Ends : {{blog.deals_end_datetime | date:'mediumDate'}}</p> -->
                    <a href="javascript:void(0);">
                        <img class="img-fluid rounded mb-3 mb-md-0" [src]="imageBaseUrl + blog.blog_small_image" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <span>{{blog.category_name}}</span>
                    <h3>{{blog.blog_title}}</h3>
                    <small>{{transformDate(blog.date_created)}}</small>
                    <p>{{blog.blog_excerpt | slice:0:200}}</p>
                    <ul *ngIf="blog.tags.length > 0" class="tags">
                        <li *ngFor="let tag of blog.tags" class="tag"><a href="javascript:void(0);">{{tag.name}}</a></li>
                    </ul>
                    <small class="comment-count">{{getBlogCount(blog)}}</small>
                    <span class="like-btn" (click)="addLike(blog.id,blog.is_like,userId)"><i [ngClass]="{'active': blog.is_like == 1}"
                            class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <small>{{blog.likes}} Likes</small>
                </div>
                <div class="col-md-2 price-container">
                    <div *ngIf="blog.category_slug =='deals'">
                        <p class="cut-price" *ngIf="blog.max_price > blog.sale_price"><del> {{blog.max_price |
                                currency}}</del></p>
                        <p class="main-price"> {{blog.sale_price | currency}}<span *ngIf="blog.highest_cashback !=null">+
                                {{blog.highest_cashback}} % cashback</span></p>
                    </div>
                    <p *ngIf="blog.daysPending >0 && blog.category_slug =='deals'" class="deals-start"><i class="fa fa-clock-o"
                            aria-hidden="true"></i> {{blog.daysPending}} Days Left</p>
                    <p *ngIf="blog.daysPending < 0 && blog.category_slug =='deals'" class="deals-end"><i class="fa fa-clock-o"
                            aria-hidden="true"></i> Expired</p>
                    <a class="btn derk-color text-white blog-btn" (click)="goToDetails(blog)">View</a>
                </div>
            </div>
            <a class="show-more-blog" [routerLink]="['/allblog']">Show More >></a>
        </div>
    </div>
</section>
<app-newsletter></app-newsletter>