<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!--    <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item  refar-code  active" style="background-image: url('assets/images/blog-banner.jpg')">
                <div class="container  headline-blog pt-4">
                    <div class="row">



                        <div class="send-mail-refar">
                            <span>Share your referral code or link to start
    saving money and earning points.</span>
                            <hr>

                            <div class="input-sec d-flex ">
                                <div class="form-group">
                                    <label for="usr">Company:</label>
                                    <input type="text" class="form-control" id="usr">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Code or Link:</label>
                                    <input type="password" class="form-control" id="pwd">
                                </div>

                            </div>

                        </div>
                        <div class="send-bg-refer"></div>



                    </div>



                </div>

            </div>

        </div>

    </div>
</header>