<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item d-flex justify-content-center text-white blog-detail" style="background-image: url('assets/images/banner.jpg')">
        <h1>Earn up to 50 Wells Fargo Points </h1>
      </div>
    </div>
  </div>

  <div class="bg-subjet pt-4 pb-4">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">

            <h2>Current Card<br>
              Bonuses</h2>
          </div>

        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">

            <h2>Current Card<br>
              Bonuses</h2>
          </div>

        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">

            <h2>Current Card<br>
              Bonuses</h2>
          </div>

        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">

            <h2>Current Card<br>
              Bonuses</h2>
          </div>

        </div>
      </div>
    </div>

  </div>


</header>
<!--catagory-sec-->


<!-- Page Content -->
<section class="full-bg-grey">
  <div class="container">


    <div class="row">
      <div class="blog-detail-contant col-md-9">

        <h2 class="head-line-line mb-3 mt-3">Portfolio Heading</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
          in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br><br>
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
        <h2>Where does it come from?</h2>
        <p>
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.<p>
      </div>
      <div class="col-md-3">
        <h2 class="head-line-line mb-3 mt-3">News</h2>


        <div class="d-flex flex-column">
          <div class="recent-blog-list">
            <img class="img-fluid" src="assets/images/blog-card.jpg" alt="">
            <a href="#" class="blog-detail-text">
              <span>News</span>
              <h3>Lorem Ipsum is</h3>
              <small>August 27th, 2018</small>
            </a>
          </div>

          <div class="recent-blog-list">
            <img class="img-fluid" src="assets/images/blog-card.jpg" alt="">
            <a href="#" class="blog-detail-text">
              <span>News</span>
              <h3>Lorem Ipsum is</h3>
              <small>August 27th, 2018</small>
            </a>
          </div>

          <div class="recent-blog-list">
            <img class="img-fluid" src="assets/images/blog-card.jpg" alt="">
            <a href="#" class="blog-detail-text">
              <span>News</span>
              <h3>Lorem Ipsum is</h3>
              <small>August 27th, 2018</small>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
