<header *ngIf="isVisible">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item d-flex justify-content-center text-white blog-detail" [style.background-image]="getBackground(blogDetails.blog_large_image)">
        <h1>{{blogDetails.blog_title}}</h1>
      </div>
    </div>
  </div>
  <div class="bg-subjet pt-4 pb-4">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">
            <h2>Current Card<br>
              Bonuses</h2>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">
            <h2>Current Card<br>
              Bonuses</h2>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">
            <h2>Current Card<br>
              Bonuses</h2>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between text-item ">
            <img class="img-fluid" src="assets/images/gift-box.png" alt="">
            <h2>Current Card<br>
              Bonuses</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--catagory-sec-->


<!-- Page Content -->
<section class="full-bg-grey" *ngIf="isVisible">
  <div class="container">
    <div class="row">
      <div class="blog-detail-contant col-md-9">
        <h2 class="head-line-line mb-3 mt-3">Description</h2>
        <div [innerHTML]="blogDetails.blog_content"></div>
      </div>
      <div class="col-md-3">
        <h2 class="head-line-line mb-3 mt-3">{{blogCategoryName}}</h2>
        <div class="d-flex flex-column">
          <div class="recent-blog-list" *ngFor="let blog of blogList; let i = index">
            <img class="img-fluid" [src]="imageBaseUrl + blog.blog_large_image" alt="">
            <a (click)="goToDetails(blog.blog_url)" class="blog-detail-text">
              <span>{{blog.category_name}}</span>
              <h3>{{blog.blog_title}}</h3>
              <small>{{blog.date_created | date:'mediumDate'}}</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
