<div class="container">
  <div class="row">
    <div class="col-md-12"> <img class="img-fluid all-store-banner" src="assets/images/card-banner.jpg" alt=""></div>
  </div>
</div>
<section class="full-bg-grey">
  <div class="container">
      <h2 class="head-line-line mb-3 mt-3">Most Recent Stores</h2>
      <div class="cuppon-sec">
        <div class="row">
          <div class="col-md-2" *ngFor="let storeCashBack of storebyCashback; let i = index">
            <div class="cuppon">
              <!-- <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""> -->
              <span>{{storeCashBack.name}}</span>
              <span class="coupon-discount">{{storeCashBack.raw_rate_data}} Cash Back</span>
              <small>See All {{storeCashBack.cashback_portal_name}} Coupons</small>
            </div>
          </div>
  
        </div>
      </div>
    <!-- <h2 class="head-line-line mb-3 mt-3">Recomended Stores </h2>
    <div class="deal">
      <div class="row">
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="hot-deal-sec">
      <div class="row">
        <div class="col-md-12">
          <div class="white-board">
            <div class="hot-deal-headline">
              <h2 class="head-line-line mb-3 mt-3">All Store </h2>
            </div>
            <div class="hot-deal">

              <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li>All</li>
                    <li class="letter-filter" (click)="filterSearch(alphabet)" *ngFor="let alphabet of filterAlphabets; let i = index">{{alphabet}}</li>
                    <li>0-9</li>
                  </ul>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>A Pea in the Pod</td>
                          <td>9 Coupons</td>
                          <td>1.0 % Cash Back</td>
                          <td> <button>shop Now</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- <div class="col-md-3">
          <div class="white-board">
            <div class="hot-deal-headline">
              <h2 class="head-line-line mb-3 mt-3 font-size-20">Double Cash Back </h2>
            </div>
            <ul class="side-ad d-flex justify-content-between flex-wrap flex-width">
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<app-newsletter></app-newsletter>