<div class="container">
    <div class="row">
        <div class="col-md-12"> <img class="img-fluid all-store-banner" src="assets/images/card-banner.jpg" alt=""></div>
    </div>
</div>
<section class="full-bg-grey">
    <div class="container">
        <h2 class="head-line-line mb-3 mt-3">All Stores</h2>
        <div class="cuppon-sec">
            <div class="row">
                <div class="col-md-2" *ngFor="let store of allStore; let i = index">
                    <div class="cuppon" (click)="goToCouponDetails(store.id)">
                        <!-- <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""> -->
                        <span>{{store.name}}</span>
                        <span class="coupon-discount">{{store.highest_cashback_raw}} Cash Back</span>
                        <small>See All {{store.name}} Coupons</small>
                    </div>
                </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                  <div class="pagination-msg" *ngIf="allStoreListCount > 0">
                    <p>Showing {{lower_count}} to {{upper_count}} of {{allStoreListCount}} entries</p>
                  </div>
                </div>
            <div class="col-md-12">
              <div class="card-body pull-right" *ngIf="allStoreListCount > itemPerPage">
                <ngb-pagination [collectionSize]="allStoreListCount" [pageSize]="itemPerPage" [maxSize]="paginationMaxSize" [(page)]="defaultPagination" (pageChange)="pagination()"
                  size="sm"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
  
    </div>
</section>
<app-newsletter></app-newsletter>