<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/images/blog-banner.jpg')">
        <div class="container headline-blog pt-4">
          <h1>Credit Card Reviews</h1>
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
              <div class="hovereffect">
                <img class="img-responsive" src="assets/images/blog-card.jpg" alt="">
                <div class="overlay">
                  <h2>Effect 11</h2>
                  <p>
                    <a [routerLink]="['/blog-details',1]">LINK HERE</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
              <div class="hovereffect">
                <img class="img-responsive" src="assets/images/blog-card.jpg" alt="">
                <div class="overlay">
                  <h2>Effect 11</h2>
                  <p>
                    <a [routerLink]="['/blog-details',2]">LINK HERE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>
</header>

<!-- Page Content -->
<section class="full-bg-grey">
  <div class="container">


    <h2 class="head-line-line mb-3 mt-3">Portfolio Heading</h2>

    <div class="list-sec">
      <div class="row bg-white-blog">

        <div class="col-md-2">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/listing-img.jpg" alt="">
          </a>
        </div>
        <div class="col-md-8">
          <span>Intro Bonus</span>
          <h3>Project One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita
            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis
            atque eveniet unde.</p>

        </div>
        <div class="col-md-2">
          <a class="btn derk-color text-white" href="#">View Project</a>
        </div>

      </div>


      <div class="row bg-white-blog">

        <div class="col-md-2">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/listing-img.jpg" alt="">
          </a>
        </div>
        <div class="col-md-8">
          <span>Intro Bonus</span>
          <h3>Project One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita
            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis
            atque eveniet unde.</p>

        </div>
        <div class="col-md-2">
          <a class="btn derk-color text-white" href="#">View Project</a>
        </div>

      </div>
      <div class="row bg-white-blog">

        <div class="col-md-2">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/listing-img.jpg" alt="">
          </a>
        </div>
        <div class="col-md-8">
          <span>Intro Bonus</span>
          <h3>Project One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita
            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis
            atque eveniet unde.</p>

        </div>
        <div class="col-md-2">
          <a class="btn derk-color text-white" href="#">View Project</a>
        </div>

      </div>
      <div class="row bg-white-blog">

        <div class="col-md-2">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/listing-img.jpg" alt="">
          </a>
        </div>
        <div class="col-md-8">
          <span>Intro Bonus</span>
          <h3>Project One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita
            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis
            atque eveniet unde.</p>

        </div>
        <div class="col-md-2">
          <a class="btn derk-color text-white" href="#">View Project</a>
        </div>

      </div>

    </div>


  </div>
</section>
