<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" *ngFor="let banner of homeBannerContentList; let i = index" [ngClass]="{'active': i == 0}"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let banner of homeBannerContentList; let i = index" [ngClass]="{'active': i == 0}" [style.background-image]="getBackground(banner.slider_img)">
                <div class="carousel-caption-bnr d-none  d-flex justify-content-center">

                    <div class="bnr-text text-center" *ngFor="let banner of homeBannerContentList; let i = index">
                        <h3>{{banner.title}}</h3>
                        <p>{{banner.description}}</p>
                        <a [href]="banner.btn_link" target="_blank">Read More</a>
                    </div>
                    <!-- <div class="bnr-text text-center">
                        <h3>{{banner.title}}</h3>
                        <p>{{banner.description}}</p>
                        <a [href]="banner.btn_link" target="_blank">Read More</a>
                    </div>
                    <div class="bnr-text text-center">
                        <h3>{{banner.title}}</h3>
                        <p>{{banner.description}}</p>
                        <a [href]="banner.btn_link" target="_blank">Read More</a>
                    </div> -->



                </div>
            </div>
        </div>
    </div>
</header>

<div class="card-listing pt-3 pb-3">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="ng-tns-c8-0 ng-star-inserted" *ngFor="let category of subCategoryList">
                <div class="card-item credit-card-item" (click)="goToTopCategoryPage(category.category_slug)">
                    <a class="ng-tns-c8-0">
                        <!-- <img class="img-fluid" [src]="category.category_image != '' && imageBaseUrl+ category.category_image || 'assets/images/information.png'" alt=""> -->
                        <h2 class="ng-tns-c8-0">{{category.category_name}}</h2>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Page Content -->
<section class="full-bg-grey">
    <div class="container">
        <h2 class="head-line-line mb-3 mt-3">Recent Posts</h2>
        <div class="clearfix"></div>
        <div class="list-sec" *ngIf="blogList.length > 0">

            <div class="row bg-white-blog  d-flex align-items-center" *ngFor="let blog of blogList; let i = index">
                <div class="col-md-2">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" [src]="imageBaseUrl + blog.blog_small_image" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <!-- <span>{{blog.category_name}}</span> -->
                    <h3>{{blog.blog_title}}</h3>
                    <small>{{blog.date_created | date:'mediumDate'}}</small>
                    <p>{{blog.blog_excerpt | slice:0:100}}<span *ngIf="blog.blog_excerpt.length > 100">...</span></p>
                    <ul *ngIf="blog.tags.length > 0" class="tags">
                        <li *ngFor="let tag of blog.tags" class="tag"><a href="javascript:void(0);">{{tag.name}}</a></li>
                    </ul>
                    <small class="comment-count">{{getBlogCount(blog)}}</small>
                    <span class="like-btn" (click)="addLike(blog.id,blog.is_like,userId)"><i [ngClass]="{'active': blog.is_like == 1}"
                            class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <small>{{blog.likes}} Likes</small>
                </div>
                <div class="col-md-2 price-container">

                    <div *ngIf="blog.category_slug =='deals'">
                        <p class="cut-price" *ngIf="blog.max_price > blog.sale_price"><del> {{blog.max_price |
                                currency}}</del></p>
                        <p class="main-price"> {{blog.sale_price | currency}}</p>
                    </div>
                    <!-- <p *ngIf="blog.category_slug =='deals'">Sale Ends : {{blog.deals_end_datetime | date:'mediumDate'}}</p> -->
                    <p *ngIf="blog.daysPending >0 && blog.category_slug =='deals'" class="deals-start"><i class="fa fa-clock-o"
                            aria-hidden="true"></i> {{blog.daysPending}} Days Left</p>
                    <p *ngIf="blog.daysPending < 0 && blog.category_slug =='deals'" class="deals-end"><i class="fa fa-clock-o"
                            aria-hidden="true"></i> Expired</p>
                    <a class="btn derk-color text-white blog-btn" (click)="goToDetails(blog.blog_url)">View</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="pagination-msg" *ngIf="blogListCount > 0">
                        <p>Showing {{lower_count}} to {{upper_count}} of {{blogListCount}} entries</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-body pull-right" *ngIf="blogListCount > itemPerPage">
                        <ngb-pagination [collectionSize]="blogListCount" [maxSize]="paginationMaxSize" [(page)]="defaultPagination"
                            (pageChange)="pagination()" size="sm"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-newsletter></app-newsletter>