<!-- <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item card-banner-height active" style="background-image: url('assets/images/blog-banner.jpg')">
                <div class="container headline-blog pt-4">
                    <div class="busness-card-tabs mt-3 mb-3">
                        <div class="tab-content  px-sm-0" id="nav-tabContent">
                            <div class="tab-pane  fade show active  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="cover-full">
                                    <ul class="d-flex flex-wrap">
                                        <li class="col-md-2" *ngFor="let tag of tagList"><a href="javascript:void(0);">{{tag.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-sample d-flex justify-content-between mt-3 mb-3">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/card-box.png" alt="">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/card-box.png" alt="">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/card-box.png" alt="">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/card-box.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->


<div class="card-listing pt-3 pb-3">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-between" *ngFor="let category of subCategoryList">
                <div class="card-item" [ngClass]="{'active-card': category.category_slug == categoryDetails?.category_url}">
                    <a [routerLink]="['.']" (click)="goToCategoryPage(category.category_slug)">
                        <img class="img-fluid" [src]="imageBaseUrl + category.category_image" alt="">
                        <h2>{{category.category_name}}</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




<section class="full-bg-grey">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-3" *ngIf="subCategoryList.length > 0">
        <div id="MainMenu">
          <div class="list-group panel">
            <mat-sidenav mode="over" opened="true">
              <mat-nav-list>
                <app-side-nav *ngFor="let item of subCategoryList" [item]="item"></app-side-nav>
              </mat-nav-list>
            </mat-sidenav>
          </div>
        </div>
      </div> -->
            <div class="col-md-12">
                <h2 class="head-line-line mb-3 mt-3">{{categoryDetails?.category_name}}</h2>
                <p>{{categoryDetails?.description}}</p>
                <div class="row">

                    <ul class="d-flex flex-row bd-highlight tag_list ">
                        <li *ngFor="let tag of tagList">
                            <a href="javascript:void(0);">
                {{tag.name}}
              </a>
                        </li>

                    </ul>

                </div>
                <div class="list-sec" *ngIf="blogList.length > 0">
                    <div class="row bg-white-blog" *ngFor="let blog of blogList; let i = index" [ngClass]="{'trfarent-bg': blog.blog_content != '' && !blog.opened}">
                        <div class="col-md-2">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" [src]="imageBaseUrl + blog.blog_small_image" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 ">
                            <span>{{blog.category_name}}</span>
                            <h3>{{blog.blog_title}}</h3>
                            <small>{{blog.date_created | date:'mediumDate'}}</small>
                            <p>{{blog.blog_excerpt}}</p>
                        </div>
                        <div class=" d-flex align-items-center col-md-2 text-decline">
                            <a class="btn derk-color text-white" *ngIf="loggedIn" [routerLink]="['/apply']" [queryParams]="{ code: blog.blog_url}" target="_blank">Apply Now</a>
                            <a class="btn derk-color text-white" *ngIf="!loggedIn" href="javascript:void(0);" (click)="openLoginModal()">Apply
                Now</a>
                        </div>
                        <span fxFlex *ngIf="blog.blog_content != ''" class="see_more">
              <span fxFlex></span>
                        <mat-icon [@indicatorRotate]="blog.opened ? 'expanded': 'collapsed'" (click)="itemToggle(blog);$event.stopPropagation()">
                            expand_more
                        </mat-icon>
                        </span>
                        <div class="col-md-12">
                            <div [innerHTML]="blog.blog_content" *ngIf="blog.opened" class="blog-detail-contant"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pagination-msg" *ngIf="blogListCount > 0">
                                <p>Showing123 {{lower_count}} to {{upper_count}} of {{blogListCount}} entries</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-body pull-right" *ngIf="blogListCount > itemPerPage">
                                <ngb-pagination [collectionSize]="blogListCount" [maxSize]="paginationMaxSize" [(page)]="defaultPagination" (pageChange)="pagination()" size="sm"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-sec" *ngIf="blogList.length == 0">
                    <h3>Post Not Found Under {{categoryDetails?.category_name}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>