<section class="full-mail-sec">
  <div class="container">

    <img class="msg-icon" src="assets/images/massage-icon.png" alt="">
    <h2>We'll send you the latest.</h2>

    <div class="send-mail-box">
      <span>Get a newsletter with points strategies, deal
        <br>alerts, and more.</span>
      <div class="single">

        <div class="input-group">
          <input type="email" class="form-control" placeholder="Enter your email">
          <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">Subscribe</button>
          </span>
        </div>
      </div>

    </div>
    <div class="send-bg-filed"></div>
  </div>
</section>
