<section class="full-mail-sec">
  <div class="container">

    <img class="msg-icon" src="assets/images/massage-icon.png" alt="">
    <h2>We'll send you the latest.</h2>

    <div class="send-mail-box">
      <span>Get a newsletter with points strategies, deal
        <br>alerts, and more.</span>
      <div class="single">
        <form role="form" [formGroup]="form" novalidate>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email" formControlName="email" [ngClass]="displayFieldCss('email')">
            <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('pattern') && !form.controls['email'].hasError('required')">
              Please enter a valid email address
            </div>
            <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('required')">
              Email is required
            </div>
            <span class="input-group-btn">
              <button class="btn btn-theme" type="submit" (click)="subscribe()">Subscribe</button>
            </span>
          </div>
        </form>
      </div>

    </div>
    <div class="send-bg-filed"></div>
  </div>
</section>
