<div class="container">
  <div class="row">
    <div class="col-md-10"> <img class="img-fluid" src="assets/images/card-banner.jpg" alt=""></div>
    <div class="col-md-2 side-ad">
      <!-- <ul>
        <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
        <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
        <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
        <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
        <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
        <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
      </ul> -->
      <ul>
        <li *ngFor="let popularStore of popularstoree; let i = index">
          {{popularStore.name}}
          <!-- <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""> -->
        </li>
        
      </ul>
    </div>
  </div>
</div>
<section class="full-bg-grey">
  <div class="container">
    <div class="cuppon-sec">
      <div class="row">
        <div class="col-md-2" *ngFor="let couponList of discountCouponList; let i = index">
          <div class="cuppon">
            <!-- <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""> -->
            <span>{{couponList.coupon_description}}</span>
            <!-- <span class="coupon-discount">{{couponList.discount}}% Cash Back</span> -->
            <small>See All {{couponList.store_name}} Coupons</small>
          </div>
        </div>

      </div>
    </div>
    <h2 class="head-line-line mb-3 mt-3">Featured Daily Deals </h2>
    <div class="deal">
      <div class="row">
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="deal-sec">
            <div class="deal-img">
              <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
              <span>
                Up to<br>
                80% Off</span>
            </div>
            <div class="deal-provider">
              <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
            </div>
            <div class="deal-detail">
              <h3>3.0% Cash Back</h3>
              <h4>Extra 20% off
                <span> fall fashion and home</span></h4>
              <small>Expires 9/30/2018</small>
              <a href="#">
                Available
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hot-deal-sec">
      <div class="row">
        <div class="col-md-9">
          <div class="white-board">
            <div class="hot-deal-headline">
              <h2 class="head-line-line mb-3 mt-3">Featured Daily Deals </h2>
            </div>
            <div class="hot-deal">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="deal-sec">
                      <div class="deal-img">
                        <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
                        <span>
                          Up to<br>
                          80% Off</span>
                      </div>
                      <div class="deal-provider">
                        <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
                      </div>
                      <div class="deal-detail">
                        <h4>Extra 20% off
                          <span> fall fashion and home</span></h4>
                        <small>Expires 9/30/2018</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="deal-sec">
                      <div class="deal-img">
                        <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
                        <span>
                          Up to<br>
                          80% Off</span>
                      </div>
                      <div class="deal-provider">
                        <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
                      </div>
                      <div class="deal-detail">
                        <h4>Extra 20% off
                          <span> fall fashion and home</span></h4>
                        <small>Expires 9/30/2018</small>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4">
                    <div class="deal-sec">
                      <div class="deal-img">
                        <img class="img-fluid" src="assets/images/deal-image.jpg" alt="">
                        <span>
                          Up to<br>
                          80% Off</span>
                      </div>
                      <div class="deal-provider">
                        <img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt="">
                      </div>
                      <div class="deal-detail">
                        <h4>Extra 20% off
                          <span> fall fashion and home</span></h4>
                        <small>Expires 9/30/2018</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-3">
          <div class="white-board">
            <div class="hot-deal-headline">
              <h2 class="head-line-line mb-3 mt-3 font-size-20">Double Cash Back </h2>
            </div>
            <ul class="side-ad d-flex justify-content-between flex-wrap flex-width">
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
              <li><img class="img-fluid" src="assets/images/flipkart-sidescroll.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
