.deal-detail {
    height:115px;
}
.deal-img img {
    width:100%;
    height:168px;
}

.cuppon-double-sec .coupon-name {
font-weight: bold;
font-size: 11px;
}
.store-img {
    width:100%;
}

.deal-sec {
    cursor: pointer;
}
.cuppon {
    cursor: pointer;
}

.cuppon-sec .cuppon span {
    line-height: 35px;
}

.hot-deal ul {
    text-align: center;
}
.hot-deal ul li {
    display: inline-block;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
    color: #1791d3;
}
.no-records-found {
    text-align: center;
}
.store-list {
    cursor: 'pointer';
}
.store-list a {
    width: 20%;
}

