<div class="login-wrap">

    <button type="button" class="close" data-dismiss="modal" (click)="closeAdvertise()">&times;</button>
    <div class="login-html">
<div class="modal__inner">
  <div for="modal__advertiser-disclosure" class="modal__close"></div> <span class="modal__inner__title">Advertiser
    Disclosure</span>
  <p>CreditCards.com is an independent, advertising-supported comparison service. The offers that appear on this site
    are from companies from which CreditCards.com receives compensation. This compensation may impact how and
    where products appear on this site, including, for example, the order in which they may appear within listing
    categories. Other factors, such as our own proprietary website rules and the likelihood of applicants'
    credit approval also impact how and where products appear on this site. CreditCards.com does not include
    the entire universe of available financial or credit offers.</p>

</div>

</div>